   {% if is_granted('ROLE_ADMIN') %}
		<ul class="nav nav-tabs">
		    <li><a href="#local" data-toggle="tab">{% trans %}file.new.title.localfiles {% endtrans %}</a></li>
		    <li><a href="#server" data-toggle="tab">{% trans %}file.new.title.serverfiles{% endtrans %}</a></li>
	    </ul>
	    <div class="tab-content">
	    	<img src="{{ asset('bundles/filedfile/img/loading.gif') }}" style="display:none" class="img_loading_add"/>
			<div class="tab-pane active" id="local">
				<!-- The file upload form used as target for the file upload widget -->
			    <form id="fileupload" action="{{ path('file_add_file') }}" method="POST" enctype="multipart/form-data">
			        <div class="row fileupload-buttonbar">
			            <div class="span7">
		    				<input type="hidden" name="parent" value="{{ file_id }}"/>
			                <!-- The fileinput-button span is used to style the file input field as button -->
			                <span class="btn btn-success fileinput-button">
			                    <i class="icon-plus icon-white"></i>
			                    <span>{% trans %}file.new.add{% endtrans %}</span>
			                    <input type="file" name="files[]" multiple>
			                </span>
			                <button type="submit" class="btn btn-primary start">
			                    <i class="icon-upload icon-white"></i>
			                    <span>{% trans %}file.new.uploadall{% endtrans %}</span>
			                </button>
			                <input type="checkbox" class="toggle">
			            </div>
			            <div class="span5">
			                <div class="progress progress-success progress-striped active fade">
			                    <div class="bar" style="width:0%;"></div>
			                </div>
			            </div>
			        </div>
			        <div class="fileupload-loading"></div>
			        <table class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>
			        <br>
			
			    </form>
			</div>
			<div class="tab-pane" id="server">
					
					<form id="form_server" action="" method="POST">
						<div class="control-group">
							<label class="control-label" for="path">{% trans %}file.new.server.title{% endtrans %}</label>
			    			<div class="controls">
			    				<input type="hidden" id="server_parent" name="server_parent" value="{{ file_id }}"/>
			    				<input  class="input-xlarge" type="text" id="server_dirpath" name="path" value="" required="required" />
			    				<input type="submit" onclick="addFilesServer()" id="_submit" name="_submit" class="btn btn-primary" data-loading-text="" value="{% trans %}file.new.server.sharefile{% endtrans %}"/>
			   			    </div>
						</div>
					</form>
			</div>
		</div>
    {% else %}
			<div class="tab-pane" id="local">
				<div class="control-group">
					<label class="control-label" for="path">Select the file you want to upload:</label>
	    			<div class="controls">
	    				<input id="fileupload" type="file" name="files[]" data-url="{{ path('file_add_file') }}">
						<div id="progress">
					   		<div class="bar" style="width: 0%;"></div>
						</div>
	   			    </div>
				</div>
			</div>
	{% endif %}

	
{% raw %}
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td class="preview"><span class="fade"></span></td>
        <td class="name"><span>{%=file.name%}</span></td>
        <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
        {% if (file.error) { %}
            <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
        {% } else if (o.files.valid && !i) { %}
            <td>
                <div class="progress progress-success progress-striped active"><div class="bar" style="width:0%;"></div></div>
            </td>
            <td class="start">{% if (!o.options.autoUpload) { %}
                <button class="btn btn-primary">
                    <i class="icon-upload icon-white"></i>
                    <span>{%=locale.fileupload.start%}</span>
                </button>
            {% } %}</td>
        {% } else { %}
            <td colspan="2"></td>
        {% } %}
        <td class="cancel">{% if (!i) { %}
            <button class="btn btn-warning">
                <i class="icon-ban-circle icon-white"></i>
                <span>{%=locale.fileupload.cancel%}</span>
            </button>
        {% } %}</td>
    </tr>
{% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        {% if (file.error) { %}
            <td></td>
            <td class="name"><span>{%=file.name%}</span></td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
        {% } else { %}
            <td class="preview">{% if (file.thumbnail_url) { %}
                <a href="{%=file.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}"></a>
            {% } %}</td>
            <td class="name">
                <a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
            </td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            <td colspan="2"></td>
        {% } %}
        <td class="delete">
            <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
                <i class="icon-trash icon-white"></i>
                <span>{%=locale.fileupload.destroy%}</span>
            </button>
            <input type="checkbox" name="delete" value="1">
        </td>
    </tr>
{% } %}
</script>
{% endraw %}
<script type="text/javascript">
$(function () {
    'use strict';

    // Initialize the jQuery File Upload widget:
    $('#fileupload').fileupload();
	
});



</script>

