{% extends "::layout.html.twig" %}

{% block body %}
		{% block navbar %}
		<div class="navbar navbar-fixed-top">
	      <div class="navbar-inner">
	          <a href="{{ path('user_index') }}" class="brand">{{ appname }}</a>
	          <div class="nav-collapse collapse">
	            <ul class="nav">
	              <li class="{% if app.session.get('page')  == "Accueil" %}active {% endif %}"><a href="{{ path('user_index') }}">{% trans %}app.nav.home{% endtrans %}</a></li>
	              <li><a href="#compte">{% trans %}app.nav.compte{% endtrans %}</a></li>
	              <li><a href="#contact">{% trans %}app.nav.contact{% endtrans %}</a></li>
                </ul>
	
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <ul class="nav pull-right">   	
            			<li>
            				<p class="text-info"><small>
			                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} </small>
			                </p>
			            </li>
			            <li>
			                <a  href="{{ path('fos_user_security_logout') }}">
			                    <i class="icon-off"></i> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }} 
			                </a>
                		</li>
                	</ul>
                 {% endif %}
            
	          </div><!--/.nav-collapse -->
	      </div>
	    </div>
	    {% endblock %}
	    <div class="container">
	    	{% block flash_msg %}
	    		{% for key, message in app.session.getFlashes() %}
			        {% if key == "success" %}
			        	<div class="alert alert-success">
			        {% else %}
			        	<div class="alert alert-error">
			        {% endif %}
			            {{ message }}
			        </div>
		        {% endfor %}
	    	{% endblock %}
			{% block content %}
				
	    	{% block fos_user_content %}
	    	{% endblock %}
		
			{% endblock %}
		</div>
	
{% endblock %}