<html>
	<head>
		<title> {{ app.session.get('page') }} | {{ appname }}</title>
        <meta charset="UTF-8" />
		<link rel="stylesheet" href="{{ asset('bundles/filedfile/css/bootstrap.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/filedfile/css/bootstrap-responsive.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/filedfile/css/docs.css') }}">
		<style>
			/**Left sidebar **/
			.nav-list{
				margin-top:100px!important;
			}
			
			/** mid content **/
			.container{
				margin-top:100px!important;
			}
			
		</style>
	<link rel="stylesheet" href="{{ asset('bundles/filedfile/css/jquery.fancybox.css') }}"/>
	
	<link rel="stylesheet" href="{{ asset('bundles/filedfile/css/jplayer.blue.monday.css') }}"/>
	{% block css %}
	{% endblock %}	
		
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="{{ asset('bundles/filedfile/js/bootstrap.js') }}"></script>
		
	<script src="{{ asset('bundles/filedfile/js/jplayer/jquery.jplayer.min.js') }}"></script>
		
	<script src="{{ asset('bundles/filedfile/js/fancybox/jquery.fancybox.pack.js') }}"></script>
	<script src="{{ asset('bundles/filedfile/js/fancybox/jquery.mousewheel-3.0.6.pack.js') }}"></script>
	
	
	
	
	<script type="text/javascript">


			$(".gallery").fancybox();
		
	</script>
		{% block js %}
		{% endblock %}
	</head>
	<body>	
        
		{% block body %}
	
		{% endblock %}
	
	</body>


</html>