{% extends "FileDUserBundle::layout.html.twig" %}
{% block css %}

<link rel="stylesheet" href="{{ asset('bundles/filedfile/css/jquery.fileupload-ui.css')}}">
<style>
<!--
.bar {
    height: 18px;
    background: green;
}
-->
</style>
{% endblock %}
{% block js %}



<!--  USE TO ADD A LOCAL/LOCAL FILES -->
<script src="{{asset('bundles/filedfile/js/jquerymultiupload/vendor/jquery.ui.widget.js')}}"></script>
<script src="http://blueimp.github.com/JavaScript-Templates/tmpl.min.js"></script>
<script src="http://blueimp.github.com/JavaScript-Load-Image/load-image.min.js"></script>
<script src="http://blueimp.github.com/JavaScript-Canvas-to-Blob/canvas-to-blob.min.js"></script>
<script src="http://blueimp.github.com/Bootstrap-Image-Gallery/js/bootstrap-image-gallery.min.js"></script>
<script src="{{asset('bundles/filedfile/js/jquerymultiupload/jquery.iframe-transport.js')}}"></script>
<script src="{{asset('bundles/filedfile/js/jquerymultiupload/jquery.fileupload.js')}}"></script>
<script src="{{asset('bundles/filedfile/js/jquerymultiupload/jquery.fileupload-fp.js')}}"></script>
<script src="{{asset('bundles/filedfile/js/jquerymultiupload/jquery.fileupload-ui.js')}}"></script>
<script src="{{asset('bundles/filedfile/js/jquerymultiupload/locale.js')}}"></script>

<script type="text/javascript">
	function addRepository(){
		//add a repository on current level with ajax request
		var DATA = {'id': {{ fileId }}};
		$.ajax({
			type: "POST",
			url: "{{ path('file_add_repository') }}",
			data: DATA,
			async:false,
			cache: false,
			success: function(data){
				document.location.reload(true);
				return false;
			},
			error: function(request,status,error){
				document.location.reload(true);
				return false;
			}
		});

	}

</script>
{% endblock %}
{% block content %}
		<div>
			{% if is_granted("ROLE_USER") %}
			   <!-- render files list available for the current user-->
	           		{% render "FileDFileBundle:File:viewFiles" with {'files' : files , 'fileId' : fileId, 'last_username': last_username, 'csrf_token': csrf_token, 'seen_files':seen_files} %}
        	{% else %}   
					{% include ":Security:login.html.twig" with {'last_username': last_username, 'csrf_token': csrf_token} %}
			{% endif %}
        </div>

        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
{% endblock %}