{% block css %}
<style>
#loginBg{
	height:300px;
}
</style>
{% endblock %}


{% block fos_user_content %}

	<form class="form-horizontal well" action="{{ path("fos_user_security_check") }}" method="post">
		 <fieldset>
		 	<legend>Connexion</legend>
			<div class="control-group">
			    <label class="control-label" for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
			    <div class="controls">
			    	<input class="input-xlarge" type="text" id="username" name="_username" value="" required="required" />
			    </div>
			</div>
			<div class="control-group">
			    <label class="control-label" for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
			    <div class="controls">
			    	<input class="input-xlarge" type="password" id="password" name="_password" required="required" />
			    </div>
			</div>
			<div class="control-group">
			   <div class="controls">
			        <label class="checkbox" for="remember_me"><input type="checkbox" id="remember_me" name="_remember_me" value="on" class="span2"/>{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
			        <input type="submit" id="_submit" name="_submit" class="btn btn-primary" data-loading-text="Loading..." value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
			   		<a href="{{ path('user_inscription') }}" class="btn">Inscription</a>
			   </div>
			</div>
		    
		  </fieldset>
	   
	    <input type="hidden" name="_csrf_token" value="" class="span2"/>
    </form>
{% endblock fos_user_content %}
