{% block css %}
<style>
.controls ul li{
	list-style: none;
	color: #C54F66;
}
</style>
{% endblock %}

<form class="form-horizontal well" action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
    <fieldset>
		 	<legend>{% trans %} user.register.form.title {% endtrans %}</legend>
				
		<div class="control-group">
		   <div class="controls">
			    {{ form_widget(form) }}
			</div>
		</div>
    
	<div class="control-group">
	   <div class="controls">
	        <input class="btn btn-primary" type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
	    	<a href="{{ path('user_index') }}" class="btn">{% trans %} user.register.form.back {% endtrans %}</a>
    	</div>
    </div>
    </fieldset>
</form>
